html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.grid-container {
    min-height: 100%;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
}

/* Sidebar */

.sidebar {
    height: 100%;
    background: #aaa;
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    align-content: flex-start;
}

/* Header */

.sidebar .logo {
    margin: 10px;
}

.logo img {
    max-width: 100%;
    border-radius: 100%;
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 50px;
    }

    .sidebar {
        height: auto;
        grid-column: auto;
        flex-direction: row;
        padding: 0;
        margin: 0;
    }

    .logo {
        margin: 3px;
        padding: 0;
        width: 45px;
        height: 45px;
    }

    .logo img {
        max-width: 100%;
        border-radius: 45px;
    }

    .tagline {
        display: none;
    }
}
